/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}
#infinite-footer { 
	.container {
		padding: 20px!important;
	}
	.blog-info a {
		font-size: 1.325rem!important;
		color: $steel!important;
		font-weight: normal!important;
		&:before {    
			@include fontawesomelist('\f106');
			margin: 0 10px 0 0;
		}
		&:hover {
			text-decoration: none!important;
			color: $orange!important;
		}
	}
}
